In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('kyphosis.csv')
data.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [5]:
data.shape

(81, 4)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Kyphosis  81 non-null     object
 1   Age       81 non-null     int64
 2   Number    81 non-null     int64
 3   Start     81 non-null     int64
dtypes: int64(3), object(1)
memory usage: 2.7+ KB

In [8]:
x = data.drop('Kyphosis', axis=1)
x.head()

   Age  Number  Start
0   71       3      5
1  158       3     14
2  128       4      5
3    2       5      1
4    1       4     15

In [9]:
y = data['Kyphosis']
y.head()

0     absent
1     absent
2    present
3     absent
4     absent
Name: Kyphosis, dtype: object

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)

In [11]:
x_train.shape

(56, 3)

In [12]:
x_test.shape

(25, 3)

# Random Forest

In [14]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators = 50)
model.fit(x_train, y_train)

RandomForestClassifier(n_estimators=50)

In [19]:
pred = model.predict(x_test)
pred

array(['absent', 'absent', 'absent', 'absent', 'absent', 'present',
       'absent', 'absent', 'absent', 'absent', 'present', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent', 'absent', 'absent', 'absent', 'absent', 'absent',
       'absent'], dtype=object)

In [17]:
y_test

72     absent
29     absent
2     present
80     absent
33     absent
52    present
34     absent
41     absent
44     absent
68     absent
42     absent
66     absent
7      absent
53     absent
63     absent
39    present
32     absent
50     absent
26     absent
15     absent
78     absent
38     absent
70     absent
1      absent
69     absent
Name: Kyphosis, dtype: object

In [18]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, pred)
accuracy

0.88

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,pred)
cm

array([[21,  1],
       [ 2,  1]], dtype=int64)

In [21]:
data['Kyphosis'].value_counts()

absent     64
present    17
Name: Kyphosis, dtype: int64